@font-face {
    font-family: "LATO";
    src: url(./font/Lato-Bold.ttf);
}

:root {
    --dash-height: 4px;
    --blue: #000080;
    --red: #BF0000;
    --light-pink: #E59999;
	--domenant-color: #ffcada;
	--secondary-blue: #000040;
}

* {
	padding: 0;
	margin: 0;
	font-family: "LATO";
    user-select: none;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.keyword {
	color: var(--domenant-color);
}

/* Start ScrollBar */

::-webkit-scrollbar {
	background-color: #fff;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--domenant-color);
	width: 5px;
}

/* End Scroll Bar */

/* Start Header */

.header {
	width: 100%;
	padding: 5rem;
	box-sizing: border-box;
	height: 115vh;
	background-repeat: no-repeat;
	background-position: 90% center;
	background-image: url(./images/pngs/highlights.png);
	background-size: 25%;
	background-color: var(--secondary-blue);
	color: #fff;
	position: relative;
	display: flex;
	align-items: center;
}

.header.model {
	background-image: url(./images/pngs/model.png);
}

.header.designs {
	background-image: url(./images/pngs/designs.png);
}

.header .header-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.header .about {
	display: block;
	position: absolute;
	top: 4%;
	left: 3%;
	text-decoration: none;
	color: #fff;
}

.header .about a {
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	transition: all 0.1s ease-in-out;
	position: relative;
}

.header .about a::before {
	content: "";
	position: absolute;
	top: 0;
	left: -5px;
	width: 2px;
	height: 37px;
	background-color: var(--domenant-color);
}

.header .about:hover a {
	background-color: var(--domenant-color);
	color: #000;
}

.header .header-content h1 {
    margin-top: 50px;
}

.header .header-content p {
	font-size: 20px;
}

.header .header-content button {
	width: 40%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	align-self: center;
	cursor: pointer;
	border: 3px solid var(--domenant-color);
	background-color: transparent;
	color: var(--domenant-color);
	transition: all 0.2s ease-in-out;
	font-size: 16px;
}

.header .header-content button:hover {
	background-color: var(--domenant-color);
	color: #000;
}

/* End Header */

/* Start Overview */

.overview {
	height: auto;
	width: 100%;
}

.overview .title {
    height: 5rem;
    background-color: var(--domenant-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview .features {
	background-color: var(--domenant-color);
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 3rem;
	height: 25rem;
}

.overview .features .feature {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 15rem;
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: -2px 2px 5px var(--secondary-blue);
	background-color: var(--secondary-blue);
	color: #fff;
}

.overview .features .feature:hover {
	box-shadow: -4px 4px 8px var(--secondary-blue);
}

.overview .features .feature img {
	width: 175px;
	height: 75px;
	filter: brightness(0.8);
	transition: all 0.2s ease-in-out;
}

.overview .features .feature img.details {
	width: 100px;
	height: 100px;
}

.overview .features .feature h3 {
	transition: color 0.2s ease-in-out;
}

.overview .features .feature:hover img {
	filter: brightness(1.2);
}

.overview .features .feature:hover h3 {
	color: var(--domenant-color);
}

.overview .features .feature h3 {
	text-align: center;
}

.overview .images {
	background-color: var(--domenant-color);
	position: relative;
	height: 320px;
}

.overview .images .app {
	display: block;
	height: 90%;
	width: 38.2%;
	border-radius: 8px;
	position: absolute;
	top: 2%;
	right: 15%;
}

.overview .images .about {
	display: flex;
	height: 70%;
	width: 35%;
	border-radius: 8px;
	position: absolute;
	top: 45%;
	left: 20%;
	background-color: var(--secondary-blue);
	color: #fff;
	box-shadow: -3px 3px 8px #000;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	padding: 20px;
	flex-direction: column;
	justify-content: space-between;
	font-size: 17px;
}

.overview .images .about:hover {
	box-shadow: -6px 6px 12px #000;
}

.overview .images .about .keyword a {
	text-decoration: none;
	color: inherit;
}

.overview .images .about .keyword a:hover {
	text-decoration: underline;
}

.overview.final .features .feature {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	box-shadow: -2px 2px 5px #000;
}

.overview.final .features .feature:first-child {
	background-image: url(images/jpgs/1.png);
}

.overview.final .features .feature:nth-child(2) {
	background-image: url(images/jpgs/2.png);
}

.overview.final .features .feature:nth-child(3) {
	background-image: url(images/jpgs/3.png);
}
/* End Overview */

/* Start Shortcuts */

.screenshots {
	box-sizing: border-box;
	padding: 150px 30px 30px;
	height: auto;
	background-color: var(--secondary-blue);
	color: #fff;
}

.screenshots.model {
	background-color: var(--light-pink);
}

.screenshots h2 {
	text-align: center;
	color: var(--domenant-color);
}

.screenshots.model h2 {
	color: var(--secondary-blue);
}

.screenshots div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 50px;
}

.screenshots div p {
	font-size: 24px;
	margin: 20px;
	width: 500px;
}

.screenshots div img {
	border-radius: 15px;
}

.screenshots img {
	width: 600px;
	height: 450px;
}

.screenshots.final img.port {
	width: 450px;
	height: 600px;
}

.screenshots.designs img:not(.details) {
	width: 1700px;
}

.screenshots .visual img {
	width: calc(3024px / 7);
	height: calc(4032px / 7);
}
/* End Screenshots */

/* Start Footer */
footer {
	height: 15rem;
	background-color: var(--secondary-blue);
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    overflow: hidden;
}

footer * {
	color: #FFFFFF;
}

footer .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

footer .info div {
	width: 50%;
}

footer.designs .info .app {
	width: 80%;
}

footer.designs .info .contact {
	width: 20%;
}

footer .info .app {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer .info .app h2 {
    text-align: center;
}

footer .info .app a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	align-self: center;
	cursor: pointer;
	border: 3px solid var(--light-pink);
	background-color: transparent;
	color: var(--light-pink);
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	text-decoration: none;
}

footer.designs .info .app a {
	width: 23%;
}

footer .info .app a:hover {
	background-color: var(--light-pink);
	color: var(--domenant-color);
}

footer .info .contact {
    display: flex;
    align-items: center;
    justify-content: end;
}

footer .info .contact span {
    width: 45px;
    height: 45px;
    margin: 0 30px;
    cursor: pointer;
    background-position: center center;
    background-size: 100%;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    position: relative;
    background-repeat: no-repeat;
}

footer .info .contact span div {
    width: auto;
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    left: -50%;
    top: 115%;
    background-color: var(--light-pink);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: 3;
}

footer .info .contact span:hover div {
    opacity: 1;
}

footer .info .contact span:hover {
    filter: grayscale(0);
}

footer .info .contact span{
	position: relative;
    background-image: url("images/pngs/behance.png");
}

footer .info .contact span:nth-child(1) div {
    left: -150%;
}

footer .info .contact span:nth-child(2) div {
    left: -240%;
}

footer .info .contact span a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

footer .about {
	display: inline-block;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	padding: 10px;
	box-sizing: border-box;
}

footer .about a {
	text-decoration: none;
	color: var(--light-pink);
	transition: all 0.2s ease-in-out;
}

/* footer .about:hover a {
	color: var(--light-pink);
}

footer .about:hover {
	color: #fff;
	background-color: var(--light-pink);
} */

footer .copy {
	width: 100%;
    margin-top: 50px;
	position: relative;
	text-align: center;
}

footer .copy::before {
	content: "";
	width: 60%;
	height: 3px;
	border-radius: 20px;
	background-color: var(--light-pink);
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
    z-index: 1;
}
/* End Footer */

/* Start Animation Handling */

.animated {
    transition: transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.5s 0.2s ease-out;
}

.show-from-left {
    transform: translateX(-80%);
    opacity: 0;
}

.show-from-right {
    transform: translateX(80%);
    opacity: 0;
}

.show-from-bottom {
    transform: translateY(80%);
    opacity: 0;
}

.show-from-right.visible,
.show-from-left.visible,
.show-from-bottom.visible {
    transform: translate(0, 0);
    opacity: 1;
}
/* End Animation Handling */

/* Start Media */
@media (max-width: 535px) {
	.header {
		background-position: center 35%;
	}

	.header .header-content p {
		width: 100%;
	    	margin-top: 175px;
	}

	.header .header-content button {
		width: 100% !important;
	}
}
@media (max-width: 768px) {
	.header {
		background-size: 35%;
		padding: 3rem;
	}

	.header .header-content {
		width: 100%;
		height: 100%;
	}

	.header .header-content button {
		width: 55%;
	}

	.overview {
		height: fit-content;
	}

	.overview .features {
		flex-direction: column;
		height: 55rem;
		align-items: center;
	}

	.overview .features .feature {
		width: 95%;
		height: 250px;
	}

	.overview .images {
		height: 417px;
	}

	.overview .images .app {
		width: 75%;
		height: 75%;
		right: 2%;
		top: 0;
	}

	.overview .images .about {
		left: 2%;
		top: 65%;
		width: 80%;
		height: 63%;
	}

	.screenshots {
		height: auto;
	}

	.screenshots div {
		flex-direction: column;
		align-items: center;
		margin: 30px;
	}

	.screenshots div img {
		width: calc(600px / 2.5);
    		height: calc(450px / 2.5);
	}

	.screenshots div img.port {
		width: calc(450px / 2.5);
    		height: calc(500px / 2.5);
	}

	.screenshots div.visual img {
		width: calc(3024px / 12);
   		height: calc(4032px / 12);
	}
	
	.screenshots.designs img:not(.details) {
    		width: calc(1700px / 5);
   		height: calc(850px / 5);
	}

	.screenshots div p {
		width: 100%;
	}

	footer {
		height: auto;
		justify-content: center;
		padding-top: 40px;
	}

	footer .info {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	footer .info div {
		width: 100%;
		margin-bottom: 30px;
	}
	
	footer .info .app {
		flex-wrap: wrap;
	}
	
	footer.design .info .app {
		flex-direction: column;
	}
	
	footer .info .app h2 {
		width: 100%;
		height: 50px;
	}
	
	footer.designs .info .app a {
    		width: 90%;
		margin-bottom: 20px;
	}
	
	footer.designs .info .contact {
    		width: 100%;
	}
	
	footer .info .contact {
		justify-content: space-around;
	}

	footer .info .contact span:nth-child(1) div {
		left: -80%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.header .header-content {
		width: 60%;
	}

	.overview .features {
		padding: 1rem;
	}

	.overview .features .feature {
		width: 30%;
	}

	.overview .images {
		height: 420px;
	}

	.overview .images .app {
		width: 65%;
		height: 65%;
		right: 1%;
		top: 0;
	}

	.overview .images .about {
		left: 2%;
		top: 55%;
		width: 55%;
		height: 60%;
	}

	.screenshots div {
		margin: 30px;
	}

	.screenshots div img {
		width: 60%;
	}

	.screenshots div.visual img {
		width: 60%;
		height: 350px;
	}
	
	footer {
		height: auto;
		padding-top: 30px;
	}

	footer .info div {
		width: 100%;
		margin-bottom: 40px;
	}

	footer .info {
		flex-direction: column;
		justify-content: space-around;
	}

	footer .info .contact {
		justify-content: space-evenly;
	}
}
/* End Media */
